* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

body {
  background-color: #eceae6;
  font-family: "Nunito", sans-serif;
}
body .container-fluid {
  background-color: #eceae6;
}
body .container-fluid .col-pc {
  min-width: 260px;
}
body .container-fluid .col-pc .card {
  box-shadow: 5px 5px 10px grey;
  border-radius: 0px !important;
  border: 1px solid white;
  position: relative;
}
body .container-fluid .col-pc .card .checkbox-hours {
  position: absolute;
  top: -60px;
  min-width: 100%;
  background: white;
  padding: 0px 0 10px 0px;
  border: 1px solid white;
}
body .container-fluid .col-pc .card .checkbox-hours a {
  color: black;
  text-decoration: none;
}
body .container-fluid .col-pc .card .checkbox-hours a .container {
  height: fit-content;
  width: fit-content;
  position: relative;
  padding-left: 35px;
  padding-right: 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body .container-fluid .col-pc .card .checkbox-hours a .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
body .container-fluid .col-pc .card .checkbox-hours a .container .checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 23px;
  width: 23px;
  background-color: #eee;
  border: 1px solid rgb(200, 200, 200);
}
body .container-fluid .col-pc .card .checkbox-hours a .container .container:hover input ~ .checkmark {
  background-color: #ccc;
}
body .container-fluid .col-pc .card .checkbox-hours a .container input:checked ~ .checkmark {
  background-color: #294d7f;
}
body .container-fluid .col-pc .card .checkbox-hours a .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
body .container-fluid .col-pc .card .checkbox-hours a .container input:checked ~ .checkmark:after {
  display: block;
}
body .container-fluid .col-pc .card .checkbox-hours a .container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
body .container-fluid .col-pc .card .checkbox-hours a:focus-visible {
  background: rgb(191, 228, 255);
  border: 2px solid rgb(82, 183, 255);
  outline: none;
}
body .container-fluid .col-pc .card .card-img {
  position: relative;
  height: 206px;
}
body .container-fluid .col-pc .card .card-img .card-img-top {
  border-radius: 0px !important;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body .container-fluid .col-pc .card .card-img .card-level {
  position: absolute;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}
body .container-fluid .col-pc .card .card-img .card-level .card-level-item {
  width: 50px;
  height: 50px;
}
body .container-fluid .col-pc .card .card-img .card-level .card-level-item i {
  color: #294d7f;
  font-size: 40px;
}
body .container-fluid .col-pc .card .card-img .card-level .card-level-item .b-custom {
  position: absolute;
  top: -10px;
}
body .container-fluid .col-pc .card .card-img .card-level .card-level-item .span-custom {
  position: absolute;
  bottom: 4px;
}
body .container-fluid .col-pc .card .card-img .card-level .card-level-item-sub {
  background-color: #294d7f;
  color: white;
}
body .container-fluid .col-pc .card .card-img .card-level .card-level-item-sub b {
  font-size: 34px;
}
body .container-fluid .col-pc .card .card-img .card-level .card-level-item-sub span {
  font-size: 10px;
}
body .container-fluid .col-pc .card .card-img .fa-copyright {
  position: absolute;
  top: 0;
  right: 0px;
  background: black;
  color: white;
  z-index: 3;
}
body .container-fluid .col-pc .card .card-img .card-img-overlay {
  padding: 10px 12px;
  z-index: 2;
  display: block;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  border-radius: 0px !important;
}
body .container-fluid .col-pc .card .card-img .card-default {
  display: none;
}
body .container-fluid .col-pc .card .card-body {
  position: relative;
  border: 1px solid white;
  height: 288px;
}
body .container-fluid .col-pc .card .card-body .card-body-content {
  border: 1px solid white;
  margin: -16px;
  padding: 14px 14px 40px;
}
body .container-fluid .col-pc .card .card-body .card-body-content h5 {
  color: #294d7f;
  overflow: hidden;
}
body .container-fluid .col-pc .card .card-body .card-body-content h5 a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
body .container-fluid .col-pc .card .card-body .card-body-content p {
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 80px;
  line-height: 20px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: normal;
  overflow-wrap: break-word;
}
body .container-fluid .col-pc .card .card-body .card-footer-custom {
  position: absolute;
  width: 87.5%;
  bottom: 0;
  padding: 6px 0;
  border-top: 2px solid #294d7f;
}
body .container-fluid .col-pc .card .card-body .card-footer-custom .type,
body .container-fluid .col-pc .card .card-body .card-footer-custom .hours {
  margin: 0;
}
body .container-fluid .col-pc .card .card-body .card-footer-custom i {
  color: gray;
  font-size: 20px;
  margin-right: 3px;
}

@media only screen and (min-width: 1024px) {
  .col-pc {
    flex: 0 0 auto !important;
    width: 100% !important;
  }
  .col-pc .card {
    padding: 15px 0 15px 15px;
    width: 800px !important;
    display: flex !important;
    flex-direction: row !important;
  }
  .col-pc .card .checkbox-hours {
    left: 0;
    padding: 0 0 10px 0 !important;
  }
  .col-pc .card .card-img {
    height: 180px !important;
  }
  .col-pc .card .card-img .card-img-top {
    width: 276px !important;
  }
  .col-pc .card .card-img .card-img-overlay {
    font-size: 11px !important;
  }
  .col-pc .card .card-body {
    padding: 0 16px !important;
    height: 180px !important;
    overflow: hidden;
  }
  .col-pc .card .card-body .card-body-content {
    overflow: hidden;
    border: none !important;
  }
  .col-pc .card .card-body .card-body-content h5 {
    font-size: 1rem !important;
  }
  .col-pc .card .card-body .card-body-content hr {
    display: none !important;
  }
  .col-pc .card .card-body .card-body-content .card-text {
    font-size: 13px !important;
  }
  .col-pc .card .card-body .card-body-content p {
    margin-bottom: 17px !important;
    display: -webkit-box;
    height: 63px !important;
    line-height: 1.55 !important;
    -webkit-line-clamp: 3 !important;
  }
  .col-pc .card .card-body .card-body-content .pt-3 {
    padding-top: 4px !important;
  }
  .col-pc .card .card-body .card-footer-custom {
    width: 92.5% !important;
    padding: 6px 0 0 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
