* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
body {
  background-color: #eceae6;
  font-family: "Nunito", sans-serif;
  .container-fluid {
    background-color: #eceae6;
    .col-pc {
      min-width: 260px;
      .card {
        box-shadow: 5px 5px 10px grey;
        border-radius: 0px !important;
        border: 1px solid white;
        position: relative;
        .checkbox-hours {
          position: absolute;
          top: -60px;
          min-width: 100%;
          background: white;
          padding: 0px 0 10px 0px;
          border: 1px solid white;
          a {
            color: black;
            text-decoration: none;
            .container {
              height: fit-content;
              width: fit-content;
              position: relative;
              padding-left: 35px;
              padding-right: 0px;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }
              .checkmark {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 23px;
                width: 23px;
                background-color: #eee;
                border: 1px solid rgb(200, 200, 200);
              }
            }
            .container .container:hover input ~ .checkmark {
              background-color: #ccc;
            }
            .container input:checked ~ .checkmark {
              background-color: #294d7f;
            }
            .checkmark:after {
              content: "";
              position: absolute;
              display: none;
            }
            .container input:checked ~ .checkmark:after {
              display: block;
            }
            .container .checkmark:after {
              left: 7px;
              top: 1px;
              width: 8px;
              height: 16px;
              border: solid white;
              border-width: 0 4px 4px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
          a:focus-visible {
            background: rgb(191 228 255);
            border: 2px solid rgb(82 183 255);
            outline: none;
          }
        }
        .card-img {
          position: relative;
          height: 206px;
          .card-img-top {
            border-radius: 0px !important;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          .card-level {
            position: absolute;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            .card-level-item {
              width: 50px;
              height: 50px;
              i {
                color: #294d7f;
                font-size: 40px;
              }
              .b-custom {
                position: absolute;
                top: -10px;
              }
              .span-custom {
                position: absolute;
                bottom: 4px;
              }
            }
            .card-level-item-sub {
              background-color: #294d7f;
              color: white;
              b {
                font-size: 34px;
              }
              span {
                font-size: 10px;
              }
            }
          }
          .fa-copyright {
            position: absolute;
            top: 0;
            right: 0px;
            background: black;
            color: white;
            z-index: 3;
          }
          .card-img-overlay {
            padding: 10px 12px;
            z-index: 2;
            display: block;
            height: fit-content;
            background-color: rgba(black, $alpha: 0.7);
            color: rgba(white, $alpha: 1);
            font-size: 12px;
            border-radius: 0px !important;
          }
          .card-default {
            display: none;
          }
        }
        .card-body {
          position: relative;
          border: 1px solid white;
          height: 288px;
          .card-body-content {
            border: 1px solid white;
            margin: -16px;
            padding: 14px 14px 40px;
            h5 {
              color: #294d7f;
              overflow: hidden;
              a {
                font-size: 20px;
                text-decoration: none;
                color: black;
              }
            }
            p {
              height: 80px;
              line-height: 20px;
            }
          }
          .card-footer-custom {
            position: absolute;
            width: 87.5%;
            bottom: 0;
            padding: 6px 0;
            border-top: 2px solid #294d7f;
            .type,
            .hours {
              margin: 0;
            }
            i {
              color: gray;
              font-size: 20px;
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
}

// large screen
@media only screen and (min-width: 1024px) {
  .col-pc {
    flex: 0 0 auto !important;
    width: 100% !important;
    // min-width: 200px !important;
    .card {
      padding: 15px 0 15px 15px;
      min-width: 800px !important;
      max-width: 1100px !important;
      display: flex !important;
      flex-direction: row !important;
      // height: 200px !important;
      .checkbox-hours {
        left: 0;
        padding: 0 0 10px 0 !important;
      }
      .card-img {
        height: 180px !important;
        .card-img-top {
          width: 276px !important;
        }
        .card-img-overlay {
          font-size: 11px !important;
        }
      }
      .card-body {
        padding: 0 16px !important;
        height: 180px !important;
        overflow: hidden;
        .card-body-content {
          overflow: hidden;
          border: none !important;
          h5 {
            font-size: 1rem !important;
          }
          hr {
            display: none !important;
          }
          .card-text {
            font-size: 13px !important;
          }
          .pt-3 {
            padding-top: 4px !important;
          }
        }
        .card-footer-custom {
          width: 92.5% !important;
          padding: 6px 0 0 0 !important;
        }
      }
    }
  }
}
